.header-bs {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

.logo-img {
    width: 4rem;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.g-template {
    grid-template-columns: repeat(3, 1fr);
}

.logo{
    width: 2rem;
}

@media (min-width: 320px) {
    .g-template {
        grid-template-columns: repeat(1, 1fr);
    }

    .card{
        width: 100%;
    }

}

@media (min-width: 576px) {
    .g-template {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .card:nth-child(3) {
        grid-column: 1/3;
    }

}

@media (min-width: 768px){
    .g-template {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .card:nth-child(3) {
        grid-column: 3/3;
    }
}

@media (min-width: 992px){
    .g-template {
        gap: 20px;
    }
}
